body {
    background-image: url("weather.png");
    font-size: 35px;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.low-usage {
  color: limegreen;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
